@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* Usability  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* button primary background color  */
.btn-primary-bg {
    background-color: hsla(25, 98%, 52%, 1);
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

/* *************************************** */

/* header some style here  */
.header {
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,top left;
    background-size: 700px, 85px;
    margin-bottom: 130px;
}

/* navbar style Start  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin: 0 150px;
}

.navbar .nav-items {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.nav-items li {
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
}

.nav-items li a {
    color: hsla(0, 0%, 28%, 1);
    text-decoration: none;
}

/* logo Style Start  */
.text-logo {
    font-size: 40px;
    user-select: none;
}

.text-logo span {
    color: hsla(25, 98%, 52%, 1);
}

/* primay button style  */
.btn-primary {
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}

/* banner section style start here  */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0 150px;
}

.banner-greeting {
    font-size: 27px;
    color: hsla(0, 0%, 28%, 1);
}

.banner-my_name {
    margin: 20px 0;
    font-size: 55px;
    color: hsla(0, 0%, 10%, 1);
}

.banner-description {
    margin-bottom: 25px;
    color: hsla(0, 0%, 46%, 1);
    width: 56ch;
}

.banner .banner-my_picture {
    width: 500px;
}

.cv-download-btn {
    margin-right: 20px;
}

.banner-content .contact-btn {
    outline: 1px solid hsla(25, 98%, 52%, 1);
    color: hsla(25, 98%, 52%, 1);
}

/* start styling main */
#main {
    max-width: 1053px;
    margin: 0 auto;
}

/* about section start styling */
.about-section {
    background-color: hsla(25, 100%, 98%, 1);
    padding: 140px;
    margin-bottom: 100px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.about-name,
.about-email,
.about-dob,
.about-location {
    color: #757575;
    line-height: 30px;
}

.about-name h5,
.about-email h5,
.about-dob h5,
.about-location h5 {
    font-weight: 400;
    font-size: 18px;
}

.about-name p,
.about-email p,
.about-dob p,
.about-location p {
    font-weight: 700;
    font-size: 18px;
}

/* what i do section style start here  */
.what_i_do-section {
    margin-bottom: 100px;
}

.what_i_do-description {
    padding: 0 140px 30px;
}

.skills-container {
    display: flex;
    gap: 25px;
}

.skill {
    border-radius: 5px;
    padding: 30px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill img,
.skill .skill-title {
    margin-bottom: 20px;
}

.skill .skill-description {
    color: hsla(0, 0%, 46%, 1);
}

/* summary of resume section styling start  */
.resume_summary-section {
    margin-bottom: 100px;
}

.my-education_and-experience {
    display: flex;
    gap: 20px;
}

.my-education>h3,
.my-experience>h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.educated-from,
.experience-from {
    padding-left: 10px;
    margin-bottom: 20px;
}

.educated-from>p,
.experience-from>p {
    margin: 15px 0;
}

.educated-from hr,
.experience-from hr {
    height: 1px;
    background: hsla(0, 0%, 82%, 1);
}

.resume_summary-btn {
    margin-top: 50px;
    text-align: center;
}

/* footer style start */
#footer {
    background-color: #fff8f3;
    display: flex;
    padding: 130px 149px;
}

.footer-left,
.footer-right {
    flex-basis: 50%;
}
.footer-left-title,
.footer-right-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.footer-left-details {
    margin: 20px 0;
    width: 70%;
    color: #474747;
    line-height: 28px;
}
.footer-social-links{
    display: flex;
    gap: 20px;
    padding: 0;
}
.footer-right-title {
    margin-bottom: 20px;
}

.footer-right-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-right-form input[type="text"],
.footer-right-form input[type="email"],
.footer-right-form textarea {
    padding: 18px 20px;
    font-size: 18px;
    width: 100%;
    border: none;
    outline: none;
}
.footer-right-form input[type="submit"]{
    width: 30%;
}
.copyright-text{
    color: #000000;
}